.pop-up {
    display: none;
       
      
}

.pop-up-display{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    transition: 200ms ease-in-out;
    overflow: auto;
    background: rgba(0,0,0,.5);
}

#pop{
    width: 100%;
    // display: none;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
    
}

.pop.active {
    transform: translate(-50%, -50%) scale(1);
}

.pop-content .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}