@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.logo-container {
  
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

.scroll {
  cursor: all-scroll;
}

.completed {
  text-decoration: line-through;
  color: #bbb;
}
